.testimonials {
    margin-bottom: 15vw;
}

@mixin testimonial {
    background-color: #009689;
    width: 70%;
    margin: 0 auto;
    border-radius: 2vw;
    margin-bottom: 8vw; 
}

.testimonial {
    @include testimonial;
}

.testimonial .testimony {
    font-size: 2.7vw;
    width: 59vw;
    color: #FFFFFE;
    padding-left: 4vw;
}

.icon span {
    font-size: 4vw;
    color: #40B0A7;
}

.icon-2 span, .quoter {
    display: flex;
    justify-content: flex-end;
}

.quoter {
    font-size: 2vw;
    transform: translateY(3vw);
    font-style: italic;
    color: #314E78;
}

.quoter:before {
    content: "";
    position: absolute;
    height: .1vw;
    width: 4vw;
    background-color: #314E78;
    transform: translate(-22vw, 1vw);
}